<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
      <add key="gmail_server" value="smtp.gmail.com"></add>
      <add key="gmail_port" value="587"></add>
   <add key="ukr_server" value="smtp.ukr.net"></add>
      <add key="ukr_port" value="465"></add>
  <add key="ukr_serverMp" value="imap.ukr.net"></add>
  <add key="ukr_portMp" value="993"></add>
  <add key="gmail_serverMp" value="imap.gmail.com"></add>
  <add key="gmail_portMp" value="993"></add>
    </appSettings> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>